body{
    background-color: rgb(203, 218, 221);
    display: grid;
    grid-template-areas:
    'hd'
    'nv'
    'mn'
    'ft';
    grid-template-rows: 12vh 7vh minmax(62vh, auto) 20vh;
    grid-template-columns: auto;
    margin: 0;
}

header{
    grid-area: hd;
    text-align: center;
}

nav{
    background-color: rgb(135, 135, 135);
    grid-area: nv;
    display: flex;
    justify-content: space-around   ;
    align-items: center;
    text-decoration: none;
}

main{
    grid-area: mn;
    /* margin: 1rem; */
}


footer{
    grid-area: ft;
    background-color: rgb(78, 78, 78);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.container_home{
    height: 100%;
}

.user-card{
    color: gray;
    box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.42);
    margin: 20px;
    padding: 35px;
    width: 700px;
    display: grid;
    grid-template-columns: autol;
    background-color: #fff;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-left: 1px solid lightgray;
}

label{
    margin: 5px 20px 5px 0;
}

ul{
    list-style-type: none;
    text-align: center;
    
}


a{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}

a:hover{
    color: rgb(111, 111, 111);
}

#rubrik{
    font-size: 2rem;
}

#receptcontainer{
    display: grid;
    grid-template-areas: 
    'ri'
    'pr';
    margin: 1rem;
}

.receptinfo{
    grid-area: ri;
}
.praktiskt{
    grid-area: pr;
    display: grid;
    grid-template-areas: 
    'ins ing';
    grid-template-columns: 50% 50%;
    margin: 1rem;
    
}

.instruktioner{
    grid-area: ins;
    margin: 1rem;

}

.createnew{
    padding: 1rem;
}

.createnew h2{
    padding: 1rem;
    background-color: rgb(109, 167, 167);

}


.ingredienser{
    grid-area: ing;
    padding: 1rem;

}
ol li{
    margin: 1rem;
}

.error-message {
    color: red;
}

.error-message ul{
    text-align: start;
}

.edit-delete-links{
    display: flex;
    justify-content: space-around;
}